<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'employee_register/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    
    <title>Employee Register</title>
</head>
<body>

    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5 ">
            <div class="jumbotron">
                <h1 class="display-4">Employee Register</h1>
                <p class="lead font-italic">Python Django Project for implementing CRUD Operations</p>
                <hr class="my-4">

                {% block content %}
                {% endblock content %}

            </div>
        </div>
    </div>


    <script src="{% static 'employee_register/js/jquery.js'%}"></script>
    <script src="{% static 'employee_register/js/popper.js'%}"></script>
    <script src="{% static 'employee_register/js/bootstrap.min.js'%}"></script>
    
</body>
</html>